<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:duplicateiteminselectedlanguage" type="Sitecore.SharedSource.DuplicateItemInSelectedLanguage.Commands.DuplicateItemInSelectedLanguages,Sitecore.SharedSource.DuplicateItemInSelectedLanguage" />
    </commands>
  </sitecore>
</configuration>